<%= render "shared/header" %>
<div class='main'>
  <div class='title-contents'>
    <h2 class='service-title'>
      お買い物メモを自動で整理整頓！
    </h2>
    <p class='service-explain'>
      だれでもかんたん、アプリを使って自分だけの価格比較表を作ろう！
    </p>
    <p class='service-explain'>
      値段メモアプリです
    </p>
    <div class='store-btn'>
      <%= link_to image_tag("https://linkmaker.itunes.apple.com/ja-jp/badge-lrg.svg?releaseDate=2011-09-21&kind=iossoftware&bubble=ios_apps", class:"apple-btn"), "#" %>
      <%= link_to image_tag("dl-android.png", class:"google-btn"), "#" %>
    </div>
  </div>
  <div class='select-reason-contents'>
    <h2 class='title'>
      PRICE/CHECKERが選ばれる3つの理由
    </h2>
    <ul class='reason-lists'>
      <li class='list'>
        <%#= image_tag "pc-intro01.png", class:"list-pict" %>
        <span class='reason-list-number'>1</span>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'>3分</span>
          ですぐに入力して商品登録！
        </h3>
        <p class='reason-list-description'>
          スマホで入力するだけで簡単に登録できる！
        </p>
      </li>
      <li class='list'>
        <%#= image_tag "pc-intro02.png", class:"list-pict" %>
        <span class='reason-list-number'>2</span>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'>シンプル</span>
          で使いやすい
        </h3>
        <p class='reason-list-description'>
          入力がめんどくさい時は写真のみでも登録可能、検索も登録もスムーズ！
        </p>
      </li>
      
    </ul>
  </div>
  
  </div>
  
  <div class='feature-contents'>
    <h2 class='title'>
      PRICE/CHECKERの特徴
    </h2>
    <ul class='feature-lists'>
      <li class='list'>
        <%#= image_tag "pc-intro04.png", class:"list-pict" %>
        <h3 class='feature-list-text'>
          画像、商品名、値段のみでも登録可能！
        </h3>
        <p class='feature-list-description'>
          スマホひとつで、いつでもどこでも簡単に入力！
        </p>
      </li>
      <li class='list'>
        <%#= image_tag "pc-intro05.png", class:"list-pict" %>
        <h3 class='feature-list-text'>
          お気に入り店舗を追加できる
        </h3>
        <p class='feature-list-description'>
          よくいくお店、行きたいお店情報を登録。現在地から近いお店探しやお店への問い合わせも楽々。
        </p>
      </li>
      <li class='list'>
        <%#= image_tag "pc-intro06.png", class:"list-pict" %>
        <h3 class='feature-list-text'>
          キーワード検索で簡単商品探し。
        </h3>
        <p class='feature-list-description'>
          お店やカテゴリーで絞れるから「あのお店の〜」「あれなんて名前だっけ？」と思ってもスムーズに見つけられる！
        </p>
      </li>
    </ul>
  </div>

  <div class='item-contents'>
    <h2 class='title'>ピックアップカテゴリー</h2>
    <%= link_to '新規投稿商品', "#", class: "subtitle" %>
    <ul class='item-lists'>

      <% if @items.present? %>
        <% @items.each do |item| %>
          <li class='list'>
            <%= link_to item_path(item.id) do %>
              <div class='item-img-content'>
                <%= image_tag item.image, class: "item-img" %>
                  <% if item.order %>
                    <div class='sold-out'>
                      <span>Sold Out!!</span>
                    </div>
                  <% end %>
              </div>
              <div class='item-info'>
                <h3 class='item-name'>
                  <%= item.title %>
                </h3>
                <div class='item-price'>
                  <span><%= item.price %>円<br>(税込み)</span>
                  <div class='star-btn'>
                    <%= image_tag "star.png", class:"star-icon" %>
                    <span class='star-count'>0</span>
                  </div>
                </div>
              </div>
            <% end %>
          </li>
      <% end %>

    <% else %>
      <li class='list'>
        <%= link_to '#' do %>
        <%= image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/10/a004.png", class: "item-img" %>
        <div class='item-info'>
          <h3 class='item-name'>
            商品を出品してね！
          </h3>
          <div class='item-price'>
            <span>99999999円<br>(税込み)</span>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
        </div>
        <% end %>
      </li>
      <% end %>
    </ul>
  </div>
</div>
<div class='purchase-btn'>
  <span class='purchase-btn-text'>出品する</span>
  <% if user_signed_in? %>
    <%= link_to image_tag('camera.png' , size: '185x50' ,class: "purchase-btn-icon"), new_item_path %>
  <% else %>
    <%= link_to image_tag('camera.png' , size: '185x50' ,class: "purchase-btn-icon"), new_user_session_path %>
  <% end %>
</div>
<%= render "shared/footer" %>